<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 10px;
    align-items: center;
    gap : 10px;
    width  : 50vw;
    border : 2px solid black;
    border-radius: 25px;
    margin-top: 30vh;
}
.button{
    background-color: blue;
    color : white;
    
    border-radius : 5px;
    font-weight: 800;
    padding : 10px 20px 10px 20px;
}
.input{
    width: 100%;
    outline: 2px solid transparent;
    border-color: blue;
    border : none;
    border-bottom: 3px solid blue; 
}
.label{
    font-weight: 500;
}
</style>
<form action="">
<div class="container">   

<h2>Enter Password To open link</h2>
<label class="label"> URL ID : <input type="text" id="shortId" value=<%= shortId %>>  </label>  
<input class="input" type="text" placeholder="Password" id="passwordField"/>
<button class="button" type="button" onclick="handleSubmit()">Open</button>
</form>

</div>
</body>
<script>
    const handleSubmit = ()=>{
     const password = document.getElementById("passwordField").value
     const shortId = document.getElementById('shortId').value
     console.log("page password ",password);
    fetch(`http://localhost:3000/url/get/${shortId}`,{
        method : 'GET',
        headers : {
            'Content-Type' : 'application/json',
            'password' : password
        },
    })
 }
</script>
</html>